<html>
    <head>
        <style>
            body { font: 11pt Arial; margin:10px; padding: 0px; background: transparent }
            div { background-color: #fff; -webkit-border-radius: 10pt; border: 1pt #999 solid; padding: 8pt; margin: 0px } 
            li { margin-bottom: 10px }
        </style>
    </head>
    <body>
        <div>
            Go to the website you want to login to and follow these steps:
            
            <ul>
                <li>Scan the QR tag on the login screen of the website or service.</li>
                <li><i>If you have multiple identities, select your identity.</i></li>
                <li>Confirm your identity (you may be asked to enter your PIN).</li>
                <li>You are logged in!</li>
            </ul>
            
           Press <b>Scan</b> to start the login process.
        </div>
    </body>
</html>