<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>tiqr</string>
	<key>CFBundleDocumentTypes</key>
	<array/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>tiqr-80</string>
		<string>tiqr-120</string>
		<string>Icon</string>
		<string>Icon-Pad</string>
		<string>Icon-Small</string>
		<string>Icon-Small-50</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.tiqr.surfnet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.tiqr.surfnet.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tiqrauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.tiqr.surfnet.enroll</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tiqrenroll</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.2</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>SANotificationRegistrationURL</key>
	<string>https://tx.tiqr.org/tokenexchange/?appId=${PRODUCT_NAME}</string>
	<key>TIQRAuthenticationURLScheme</key>
	<string>tiqrauth</string>
	<key>TIQREnrollmentURLScheme</key>
	<string>tiqrenroll</string>
	<key>UIAppFonts</key>
	<array>
		<string>animals.ttf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>still-camera</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
