*
{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, "Times New Roman";
}

form
{
  margin: 0px;
  padding: 0px;
}

body
{
  background: #eee url("http://www.surfmedia.nl/images/global/document-background.gif") no-repeat left top;
}

a
{
  text-decoration: none;
  font-weight: bold;
  color: #009fda;
}

a span,
a img
{
  border: 0;
}

a:hover
{
  text-decoration: underline;
}

div.smResult strong,
p.smBalloonDescription strong
{
  background-color: #E8F6FC;
}

div#atkbusy
{
  display: none;
}

div.float-fix
{
  clear: both;
  height: 1px;
  overflow: hidden;
}

div.divider
{
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background: #fff url("http://www.surfmedia.nl/images/global/divider.gif") repeat-x 0 0;
}

ul
{
  margin-left: 18px;
}

ol
{
  margin-left: 28px;
}

input
{
  font-size: 12px;
}

/**
 * main container
 */
div.main-container
{
  margin-left: 10px;
  width: 947px;
}

  /**
   * header container
   */
  div.main-container div.header-container
  {
    height: 77px;
  }
    div.main-container div.header-container div.logo
    {
      margin: 3px 25px 0 0;
      float: left;
      background: transparent url("http://www.surfmedia.nl/images/global/surfmedia-logo.png") no-repeat 0 0;
      width: 128px;
      height: 70px;
      cursor:pointer;
    }
    div.main-container div.header-container div.tabs
    {
      float: left;
      width: 575px;
    }
      div.main-container div.header-container div.tabs ul
      {
        list-style-type: none;
      }
        div.main-container div.header-container div.tabs ul li
        {
          display: block;
          float: left;
        }
          div.main-container div.header-container div.tabs ul li a
          {
            cursor:pointer;
            display: block;
            width: 128px;
            height: 22px;
            font-size: 12px;
            color: #009fda;
            margin: 0 6px 0 0;
            padding: 5px 0 0 10px;
            background: transparent url("http://www.surfmedia.nl/images/global/tab.png") no-repeat 0 0;
          }
          div.main-container div.header-container div.tabs ul li a.currentpage
          {
            color: #000;
          }
    div.header-container div.smLogin
    {
      position: absolute;
      left: 738px;
      width: 206px;
      padding-left: 8px;
      height: 51px;
      margin-top: 50px;
      font-size: 12px;
      background: transparent url("http://www.surfmedia.nl/images/global/login-tab.png") no-repeat 0 0;
      z-index: 1000;
    }
      div.header-container div.smLogin div.smLink
      {
        display: inline;
        float: left;
      }

      div.header-container div.smLogin div.smLink.smLoginUrl,
      div.header-container div.smLogin div.smLink.smSubscribeUrl
      {
         padding-left: 8px;
      }

      div.header-container div.smLogin div.smLink.smLoginUrl a,
      div.header-container div.smLogin div.smLink.smSubscribeUrl a
      {
         padding-left: 8px;
         position: relative;
         top: 31px;
         z-index: 300;
         background: #fff url("http://www.surfmedia.nl/images/global/pijl-klein-blauw.gif") no-repeat 0 5px;
       }


      div.header-container div.smLogin.smLoggedIn
      {
        position:absolute;
        left: 688px;
        width: 256px;
        height: 87px;
        margin-top: 14px;
        padding: 8px;
        background: transparent url("http://www.surfmedia.nl/images/global/login-tab-loggedin.png") no-repeat 0 0;
      }

      div.smLogin.smLoggedIn img
      {
        width: 40px;
        position: relative;
        clear: none;
        display: inline;
        float: left;
      }

      div.smLogin.smLoggedIn ul
      {
        clear:left;
        display: block;
        width: 250px;
        list-style: none;
        list-style-position: outside;
        margin: 30px 0px 0px 0px;
        position: absolute;
        left: 8px;
        bottom: 20px;
      }

      div.smLogin.smLoggedIn ul li
      {
        display: block;
        float: left;
      }

      div.smLogin.smLoggedIn ul li a
      {
        font-size: 11px;
        padding-right: 8px;
        padding-left: 8px;
        position: relative;
        z-index: 300;
        background: #fff url("http://www.surfmedia.nl/images/global/pijl-klein-blauw.gif") no-repeat 0 5px;
      }

      div.smLogin.smLoggedIn div.smLoggedInInner
      {
        clear: none;
        position: relative;
        width: 200px;
        margin-left: 3px;
      }
      div.smLogin.smLoggedIn div.smLoggedInInner h3
      {
        font-size: 12px;
      }

      div.smLogin.smLoggedIn div.smDomain,
      div.smLogin.smLoggedIn div.smEmail
      {
        display: none;
      }
  /**
   * menu container
   */
  div.main-container div.menu-container
  {
    height: 61px;
    width: 939px;
  }
    div.main-container div.menu-container div.left-side
    {
      width: 8px;
      height: 61px;
      overflow: hidden;
      background: transparent url("http://www.surfmedia.nl/images/global/menu-left.png") no-repeat 0 0;
      float: left;
    }
    div.main-container div.menu-container div.middle
    {
      width: 923px;
      height: 61px;
      background: transparent url("http://www.surfmedia.nl/images/global/menu-background.png") repeat-x 0 0;
      float: left;
      position: relative;
    }
      div.main-container div.menu-container div.middle div.top
      {
        clear: both;
        height: 29px;
        border: 1px solid #093f84;
        margin-bottom: 5px;
      }
        div.main-container div.menu-container div.middle div.top ul
        {
          list-style-type: none;
          margin-top: 6px;

        }
          div.main-container div.menu-container div.middle div.top ul li
          {
            display: block;
            float: left;
          }
            div.main-container div.menu-container div.middle div.top ul li a
            {
              display: block;
              color: #fff;
              font-size: 14px;
              padding-left: 19px;
              margin-right: 32px;
              background: transparent url("http://www.surfmedia.nl/images/global/menu-pijl.png") no-repeat 0 2px;
            }
      div.main-container div.menu-container div.middle div.bottom
      {
        clear: both;
        height: 25px;
      }
        div.main-container div.menu-container div.middle div.bottom div.breadcrumb
        {
          width: 720px;
          float: left;
        }
          div.main-container div.menu-container div.middle div.bottom div.breadcrumb ul
          {
            color: #fff;
            font-size: 12px;
          }
            div.main-container div.menu-container div.middle div.bottom div.breadcrumb ul li
            {
              display: block;
              float: left;
              padding: 0 16px 0 8px;
              list-style-type: disc;
              background: transparent url("http://www.surfmedia.nl/images/global/list-dot.gif") no-repeat 0 6px;
            }
              div.main-container div.menu-container div.middle div.bottom div.breadcrumb ul li a
              {
                color: #fff;
                font-weight: normal;
              }
        div.main-container div.menu-container div.middle div.bottom div.date
        {
          text-align: right;
          font-size: 11px;
          color: #fff;
          padding-top: 2px;
        }
    div.main-container div.menu-container div.right-side
    {
      width: 8px;
      height: 61px;
      background: transparent url("http://www.surfmedia.nl/images/global/menu-right.png") no-repeat 0 0;
      float: left;
    }

  /**
   * content-container
   */
  div.main-container div.content-container
  {
    padding-top: 6px;
  }
    div.main-container div.content-container div.content-area
    {

    }
      div.main-container div.content-container div.content-area div.top 
      {
        position: relative;
        height: 21px;
        padding: 6px 0 0 8px;
      }
      
      #search-tabs, #video-tabs, #video-tabs-2
      {
        /* BOY HIER! */
        position: static !important;
      }
      
      div.main-container div.content-container div.content-area div.top h2
      {
        font-size: 12px;
        color: #094085;
        display: block;
        float: left;
      }
      div.main-container div.content-container div.content-area div.top-counter h2
      {
        font-size: 12px;
        color: #094085;
        display:inline;
        float: left;
        padding-left: 3px;
        text-align: center;

      }
      div.main-container div.content-container div.content-area div.top div.link
      {
        position: absolute;
        right: 0;
        line-height: 100%;
      }
        div.main-container div.content-container div.content-area div.top div.link a
        {
          display: block;
          float: right;
          font-size: 11px;
          padding-left: 10px;
          background: transparent url("http://www.surfmedia.nl/images/global/pijl-klein-blauw-trans.png") no-repeat 0 0;
        }
      div.main-container div.content-container div.content-area div.middle
      {
        background: #fff;
        border-left: 1px solid #c2bebe;
        border-right: 1px solid #c2bebe;
        font-size: 12px;
        position: relative;
      }

      div.main-container div.content-container div.right-column div.formaten div.middle
      {
        width: 463px;
      }

      div.main-container div.content-container div.content-area div.middle div.white-divider
      {
        background-color:#FFFFFF;
        height:5px;
      }


    div.main-container div.content-container div.content-area div.middle div.smMigrateStepLabel
    {

    padding:5px 6px;
    font-weight:bold;
    }

    div.main-container div.content-container div.content-area div.middle div.smMigrateStepText
    {
    padding:2px 6px;
    }
    div.main-container div.content-container div.content-area div.middle div.smError
    {
    padding:10px 6px;
    font-weight:bold;
    color:red;
    }
      /* div.main-container div.content-container div.content-area div.middle div.smLabel
       {
       padding:2px 6px;
       }
        */
        /*
       div.main-container div.content-container div.content-area div.middle div.smValue
       {
         display:inline;
       }
       */
       div.main-container div.content-container div.content-area div.middle div.smActions
       {
         padding-left:2px;
         padding-top:10px;
         clear: both;
         height: 26px;
         text-align: center;
       }

        div.main-container div.content-container div.content-area div.middle p
        {
          padding: 2px 6px;
        }
      div.main-container div.content-container div.content-area div.bottom
      {
        height: 11px;
        overflow: hidden;
        clear: both;
      }
      div.main-container div.footer-container
      {
        clear: both;
        margin-top: 4px;
      }
      div.main-container div.footer-container ul
      {
        list-style-type: none;
      }
      div.main-container div.footer-container ul li
      {
        margin-top: 4px;
        display: block;
        float: left;
        border-left: 1px solid #c2bebe;
        font-size: 12px;
        font-weight: normal;
        padding: 0 4px;
      }
      div.main-container div.footer-container ul li.first
      {
        border-left: none;
      }
        div.main-container div.footer-container ul li a
        {
          font-weight: normal;
        }

#busyIndicator {
  position: absolute;
  background-color: #fff;
  -moz-opacity: 0.5;
  opacity: 0.5;
  display: none;
  text-align: center;
}
/**
 * Tag sizes
 */
div.smSize0, div.smSize1, div.smSize2, div.smSize3, div.smSize4, div.smSize5
{
  cursor: pointer;
}
div.smSize0
{
  font-size: 8px;
}
div.smSize1
{
  font-size: 10px;
}
div.smSize2
{
  font-size: 12px;
}
div.smSize3
{
  font-size: 14px;
}
div.smSize4
{
  font-size: 16px;
}
div.smSize5
{
  font-size: 18px;
}
/**
 * pagination
 */
div.smPagination
{
  padding: 8px;
}
div.smPagination div.smCurrent,
div.smPagination div.smPage,
div.smPagination div.smPrevious,
div.smPagination div.smNext
{
  display: inline;
  cursor: pointer;
  color: #009FDA;
}

div.smPagination div.smNext,
div.smPagination div.smPage,
div.smPagination div.smCurrent
{
  border-left: 1px solid #009FDA;
  padding: 0 1px 0 4px;
}

div.smPagination div.smCurrent
{
  cursor: default;
  color: #000 ! important;
}


/*Paginering dropdown*/

div.middle div.smLimit{
  padding: 8px;
  text-align:right;
}
  div.middle div.smLimit div.smLabel{
    color:#AAAAAA;
    display:inline;
  }
  div.middle div.smLimit div.smValue{
    display:inline;
  }
    div.middle div.smLimit div.smValue select{
      width: 50px;
    }

/**
 * left menu
 */
div.left-menu
{
  width: 244px;
  margin: 0 8px 0 0;
  float: left;
}
  div.left-menu div.top,
  div.left-menu div.bottom
  {
    width: 244px;
    height: 10px;
    overflow: hidden;
  }
  div.left-menu div.top
  {
    background: transparent url("http://www.surfmedia.nl/images/global/left-menu-top.png") no-repeat 0 0;
  }
  div.left-menu div.middle
  {
    background: #fff;
    border-left: 1px solid #c2bebe;
    border-right: 1px solid #c2bebe;
    font-size: 12px;
  }
    div.left-menu div.middle ul
    {
      list-style:none;
    }
      div.left-menu div.middle ul li
      {
        padding: 4px 8px;
      }
  div.left-menu div.middle a
  {
    display: block;
    background: url("http://www.surfmedia.nl/images/global/pijl-klein-blauw.gif") no-repeat 10px 5px;
    padding: 0 9px 0 9px;
    padding-left: 20px;
  }

  div.left-menu div.bottom
  {
    height: 11px;
    background: transparent url("http://www.surfmedia.nl/images/global/left-menu-bottom.png") no-repeat 0 0;
  }




  /*---voor highlight menu---*/
  div.left-menu div.middle li.menu-item-active a
  {
    background: transparent url("http://www.surfmedia.nl/images/global/pijl-klein-blauw-trans.png") no-repeat 10px 0px;
  }
  div.left-menu div.middle li.menu-item-active
  {
    background-color: #E8F6FC;
  }
  /*---//voor highlight menu---*/

table.smBalloonTable
{
  margin: 10px 0 0 0;
}
table.smBalloonTable td
{
  padding: 0 10px 0 0;
  vertical-align: top;
}
table.smBalloonTable td.smKey
{
  font-weight: bold;
}

div.smAudio /* smaller than span.smAudio below */
{
  float: left;
  cursor: pointer;
  width: 86px;
  height: 65px;
  background: transparent url("http://www.surfmedia.nl/images/global/audio_groot.png") no-repeat 20px 8px;
}

span.smAudio /* larger than div.smAudio above */
{
  cursor: pointer;
  width: 140px;
  height: 112px;
  margin-right: 9px;
  background: transparent url("http://www.surfmedia.nl/images/global/audio_groot.png") no-repeat 20px 8px;
}

div.smExternal /* smaller than span.smExternal below */
{
  cursor: pointer;
  width: 86px;
  height: 65px;
  float: left;
  background: transparent url("http://www.surfmedia.nl/images/global/external.jpg") no-repeat 36px 22px;
}

span.smExternal /* larger than div.smExternal above */
{
  cursor: pointer;
  width: 140px;
  height: 112px;
  margin-right: 9px;
  float: left;
  background: transparent url("http://www.surfmedia.nl/images/global/external.jpg") no-repeat 64px 45px;
}

div.smFormat.smAnalysing div.smLine div.smValue
{
  padding: 8px;
}

div.smFormatExternal
{
  cursor: pointer;
  height: 65px;
        margin-right: 9px;
}

div.middle.textpage
{
  padding: 8px;
}
div.middle.textpage div.description
{
  position: relative;
  margin-bottom: 10px;
  width: 880px;
}
  /**
   * Text pages
   */
  div.wide-column div.content-area.text-one-column
  {
    clear: both;
    margin-bottom: 7px;
    width: 938px;
  }
    div.wide-column div.content-area.text-one-column div.top
    {
      background: transparent url("http://www.surfmedia.nl/images/global/content-tab-938-162-results.png") no-repeat 0 0;
      height: 21px;
    }
    div.wide-column div.content-area.text-one-column div.bottom
    {
      clear: both;
      background: transparent url("http://www.surfmedia.nl/images/global/content-bottom-938-2.png") no-repeat 0 0;
      border: none;
    }
  div.content-area.text-two-column.left
  {
    width: 580px;
    float: left;
  }
  div.content-area.text-two-column.right
  {
    margin-left: 10px;
    width: 349px;
    float: left;
  }

    div.content-area.text-two-column.left div.top
    {
      background: transparent url("http://www.surfmedia.nl/images/global/content-tab-580.png") no-repeat 0 0;
    }
    div.content-area.text-two-column.left div.bottom
    {
      background: transparent url("http://www.surfmedia.nl/images/global/content-bottom-580.png") no-repeat 0 0;
    }
    div.content-area.text-two-column.right div.top
    {
      margin-top: 4px;
      padding: 0;
      height: 10px;
      overflow: hidden;
      background: transparent url("http://www.surfmedia.nl/images/global/content-top-350.png") no-repeat 0 100%;
    }
    div.content-area.text-two-column.right div.middle
    {
      padding: 0 8px;
    }
    div.content-area.text-two-column.right div.bottom
    {
      background: transparent url("http://www.surfmedia.nl/images/global/content-bottom-350.png") no-repeat 0 0;
    }

/**
 * Advanced search
 */
div.smMediaAdvancedSearchForm {}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriteria {}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriteria div.smCriteriumMarker {}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium div.smCriteriaSelect {}
div.smMediaAdvancedSearchForm div.smSearchCriterium,
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium
{
  clear: both;
  margin-left: 224px;
}
div.smMediaAdvancedSearchForm div.smSearchCriterium
{
  margin-left:5px;
  padding:4px;
  clear: both;
}

.smSearchCriterium div
{
  float: left;
  padding-right: 16px;
}

.smSearchCriterium .smSearchRadioLine input
{
  margin-right: 6px;
}

  div.smMediaAdvancedSearchForm div.smSearchCriterium select
  {
    margin-right: 4px;
    width: auto;
  }

  div.smMediaAdvancedSearchForm div.smSearchCriterium input
  {
    height: 17px;
  }

  div.smMediaAdvancedSearchForm div.smSearchCriterium input.textSearch
  {
    width: 550px;
  }

  div.smMediaAdvancedSearchForm div.formDivider div.smSearchCriterium input.textSearch
  {
    width: 504px !important;
  }

  div.smMediaAdvancedSearchForm div.smSearchCriterium input.textAutocomplete,
  div.smMediaAdvancedSearchForm div.smSearchCriterium input.textMultiAutocomplete
  {
    width: 717px;
  }

  div.smMediaAdvancedSearchForm div.formDivider div.smSearchCriterium input.textAutocomplete,
  div.smMediaAdvancedSearchForm div.formDivider div.smSearchCriterium input.textMultiAutocomplete
  {
    width: 671px;
  }

  div.smMediaAdvancedSearchForm div.smRemoveCriterium,
  div.smMediaAdvancedSearchForm div.smLabel,
  div.smMediaAdvancedSearchForm div.smSearchElement
  {
    float: left;
    position: relative;
    left: 0px;
  }
  div.smMediaAdvancedSearchForm div.smSearchCriterium div.smRemoveCriterium
  {
    background:#FFFFFF url(http://www.surfmedia.nl/images/global/icons/table-delete.gif) no-repeat scroll 0pt;
    cursor:pointer;
    height:16px;
    margin-right:4px;
    width:16px;
  }
  div.smMediaAdvancedSearchForm div.smSearchCriterium div.smLabel
  {
    width: 133px;
  }
  div.formDivider div.smSearchCriterium div.smLabel
  {
    width: 113px;
  }

ul.smMediaSearchCollections
{
  list-style-type: none;
  margin-left: 129px;
  margin-top: 10px;
}

div.smMediaAdvancedSearchForm div.smSearchElement
{
  float: left;
}
div.smMediaAdvancedSearchForm div.smRemoveCriterium
{
  width: 10px;
  height: 10px;
  background: #900;
}

.FlesValue #broadcast_date
{
  float: left;
}
div.smCalendarButton
{
  float: left;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image:url("http://www.surfmedia.nl/images/global/icons/calendar.gif");
  background-repeat:no-repeat;
}
  div.smMediaAdvancedSearchForm div#Submitdate input,
  div.smMediaAdvancedSearchForm div#Broadcastdate input
  {
    float: left;
  }

div.smMediaAdvancedSearchForm div.smSearchGroupCheckLine
{
  float: left;
}
  div.smMediaAdvancedSearchForm div.smSearchGroupCheckLine input
  {
    margin: 0 4px 0 0;
  }
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium
{
  padding-top: 4px;
}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium input
{
  width: 92px;
  height: 21px;
  background: #fff url("http://www.surfmedia.nl/images/global/button.gif") no-repeat 0 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: none;
}
div.smMediaAdvancedSearchForm select
{
  font-family: Arial, Helvetica, "Times New Roman";
  font-size: 12px;
}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium input, div.smMediaAdvancedSearchForm div.smButton input {
  background:#FFFFFF url(http://www.surfmedia.nl/images/global/button.gif) no-repeat scroll 0pt;
  border:medium none;
  color:#FFFFFF;
  cursor:pointer;
  font-weight:bold;
  height:21px;
  text-align:center;
  width:92px;
}
div.smMediaAdvancedSearchForm div.smButton input {
  margin-top:4px;
  padding-top:0pt;
}
div.smMediaAdvancedSearchForm select {
  font-family:Arial,Helvetica,"Times New Roman";
  font-size:12px;
}
div.smMediaAdvancedSearchForm div.smAdvancedSearchCriterium select#smCriteriaSelect {
  margin-left: 8px;
}
div.smMediaAdvancedSearchForm div.smSearchCriterium select {
  margin-right: 17px;
  margin-top: 2px;
  width: 150px;
  float: left;
}

div.formDivider
{
  position: relative;
  width: auto;
  float: left;
  clear: both;  
  left: 10px;
  margin: 20px 0 20px 0;
  padding: 10px; 
  background: #e5f6fd;
  width: 91%;
}


/*list icoontjes*/
div.smPersonVideos.smPersonVideosList.smComponent td.smVideo div.smSource.smDenied div.smVideo,
div.smPersonVideos.smPersonVideosList.smComponent td.smVideo div.smSource.smDenied div.smAudio
{
  background:transparent url(http://www.surfmedia.nl/images/global/lock_tn.jpg) no-repeat scroll 0pt;
  height:30px;
  margin-left: 0px;
}
div.smPersonVideos.smPersonVideosList.smComponent td.smVideo div.smSource.smGranted div.smVideo.smFrame
{
  background:transparent url(http://www.surfmedia.nl/images/global/video_klein.png) no-repeat scroll 0pt;
  height:30px;
  margin-left: 0px;
}
div.smPersonVideos.smPersonVideosList.smComponent td.smVideo div.smSource.smGranted div.smAudio
{
  background:transparent url(http://www.surfmedia.nl/images/global/audio_klein.png) no-repeat scroll 0pt;
  height:30px;
  margin-left: 0px;
}
/*end list icoontjes*/


/* sendFriend */

.smEmail
{
  position: relative;
}

div.smVideoActions
{
  height: auto;
  margin-left: 14px;
  width: 510px;
  clear: both;
}

.smVideoAction
{
  float: left;
  height: 28px;
}

.smVideoActions .smSendAFriendAction
{

}

.smMarkInappropriateAction
{
}

.smAddToFavoritesAction
{
  clear: both;
}

.smAddToCollectionAction
{
}

.smEmbedContent .smFriendMessage
{
  clear: both;
}

#rating
{
  margin-left: 14px;
}

#rating .smValue
{
  clear: both;
}

.smMarkInappropriate
{
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 0px;
  padding: 10px;
}

#videoreviewsContainer .smMarkInappropriate
{
  margin-top:0;
}

.smComponent .smEmbedTitle
{
  padding: 0px;
}

.smComponent .smEmail
{
  clear: both;
}

.smEmbedContent .smEmail
{
  position: relative;
  padding-top: 12px;
  margin-bottom: 12px;
}

.smEmbedContent .smLabel
{
  font-weight: normal;
  margin-bottom: 8px;
}

.smEmbedContent .smFriendMessage
{
  position: relative;
}

.smEmbedContent .smFriendMessage .smLabel
{
  width: 140px;
  font-weight: normal;
}

.smEmail .smLabel,
.smFriendMessage .smLabel
{
  width: 140px;
  font-weight: normal;
}

.smEmbedContent .smControls
{
  clear: both;
  padding-left: 0px;
  padding-top: 4px;
}


.videoplayer .smSendFriend .smEmbedContent .smControls
{
  padding-left: 144px;
  clear: both;
}

.videoplayer .smSendFriend .smEmbedContent .smFriendMessage
{
  height: 58px;
}


.smMarkInappropriate .smEmbedContent .smLabel
{
  width: 120px;
  float: left;
  margin-right: 8px;
  padding: 0px;
}

.smMarkInappropriate .smEmbedContent .smValue
{
  height: 70px ! important;
}

.smMarkInappropriate .smEmbedContent .smControls
{
  clear:both;
  padding-top:10px;
  text-align: center;
}

.smSendFriend .smEmbedContent .smControls .smCancel,
.smSendFriend .smEmbedContent .smControls .smPreview,
.smSendFriend .smEmbedContent .smControls .smSave,
.smMarkInappropriate .smEmbedContent .smControls .smCancel,
.smMarkInappropriate .smEmbedContent .smControls .smSave
{
  background:#FFFFFF url(http://www.surfmedia.nl/images/global/button.gif) no-repeat scroll 0 0;
  border:medium none;
  color:#FFFFFF;
  cursor:pointer;
  font-weight:bold;
  height:21px;
  position:relative;
  width:92px;
}

#smFavoritesAddVideoMessage
{
  padding: 8px;
  margin: 4px 0 4px 0;
}

.smCollectionNew
{
  margin: 12px;
  padding: 8px;
}

.smNewCollectionDescription .smLabel
{
  width: 120px;
}


.smSendFriend,
.videoplayer .smVideoAddToCollection,
.smCollectionNew
{
  padding: 8px;
  margin: 8px;
}

.smVideoAddToCollection .smEmbedContent .smPublicCollections .smSelect
{
  clear: both;
}

br.all
{
  clear: both;
}

.smPagination .smDots
{
  float: left;
  border-left: 1px solid #009FDA;
  padding: 0 4px;
  color: #009FDA;
}

.clearBoth
{
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

#smSendAFriendForm,
#smSendAFriendForm div,
.smSendAFriendPreviewContent,
.smSendAFriendPreviewContent div,
#smSendAFriendPreview,
#smSendAFriendPreview div
{
  position: relative ! important;
  z-index: 100;
  height: 100%;
}

div.smMsgDiv
{
  color: #009FDA;
  font-style: italic;
}

/**
 * autocomplete
 */

div.smAutocomplete{
  position: absolute;
  background-color: white; 
  border: 1px solid #888;
  margin: 0px;
  padding: 0px;
  width: 250px;
  z-index: 10;
}

div.smAutocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.smAutocomplete ul li.selected {
  background-color: #ff9;
}

div.smAutocomplete ul li {
  list-style-type: none;
  display: block;
  cursor: pointer;
}

.calendar_date_select {
  color: white;
  border: #009EDA 1px solid;
  display: block;
  width: 210px;
  z-index: 1000;
}

.calendar_date_select .weekdays td {
  font-weight:bold;
  background-color: #009EDA;
  border-bottom:1px solid #777;
  color: white !important;
}

.calendar_date_select .cds_time, .calendar_date_select .cds_buttons {
  text-align:center;
  padding:5px 0px;
  background-color: #093F84;
}

.calendar_date_select .cds_buttons {
  background-color:#fff;
}
.calendar_date_select .cds_buttons input
{
  width: 92px;
  height: 21px;
  margin: 0 8px 0 0;
  background: #fff url("http://www.surfmedia.nl/images/global/button.gif") no-repeat 0 0;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
}
.calendar_date_select .cds_footer {
  background-color: #093F84;
  padding:3px;
  font-size:12px;
  text-align:center;
}

.calendar_date_select table {
  margin: 0px;
  padding: 0px;
}


.calendar_date_select .cds_header {
  background-color: #fff;
  text-align:center;
  padding: 4px;
}

div.calendar_date_select div.cds_body thead tr
{
  background-color:#093F84;
}
div.calendar_date_select div.cds_header{
  background-color: #fff;
}
.calendar_date_select input, .calendar_date_select select { height:21px; font-size:13px;}
.calendar_date_select .cds_header input.prev {
  width:22px;
  float:left;
}
.calendar_date_select .cds_header input.next {
  width:22px;
  float:right;
}
.calendar_date_select .cds_header select.month {
  width:95px;
}

.calendar_date_select .cds_header select.year {
  width: 65px;
}

.calendar_date_select td {
  font-size:12px;
  width: 24px;
  height: 21px;
  text-align:center;
  vertical-align: middle;
  background-color: #fff;
}
.calendar_date_select td.weekend {
  background-color: #eee;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
}

.calendar_date_select td div {
  color: #093F84;
}
.calendar_date_select td div.other {
  color: #ccc;
}
.calendar_date_select td.selected div {
  color:white;
}

.calendar_date_select .days td {
  border-bottom: 1px solid #ddd;
}
.calendar_date_select td.selected {
  background-color:#777;
}

.calendar_date_select td.hover {
  background-color:#ccc;
}

.calendar_date_select td.today {
  border: 1px dashed #999;
}

/**
 * Groups list 
 */
div.smGroupList
{
  max-height: 98px;
  overflow: auto;
  margin-right: 10px;
  border: 1px solid #C2BEBE;
}

div.smGroupList div.smGroup
{
  padding: 4px;
  clear: both;
  background: #fff url("http://www.surfmedia.nl/images/global/divider.gif") repeat-x 0 100%;
}

div.smGroupList div.smGroup div.smTitle
{
  color: #009FDA;
  font-weight: bold;
  cursor: pointer;
}

/*
 * Groupselect
 */

#group_choices
{
  padding: 2px;
}

#group_selected
{
  margin: 0 0 10px 0;
}

#group_selected li
{
  display: block;
  list-style: none;
  height: 20px;
  background: url(http://www.surfmedia.nl/images/bt_remove.png) no-repeat left top;
  padding: 4px 0 0 30px;
}


/* Common */


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
